<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />

    <title>Home</title>
  </head>

  <body>
    <header class="heading">Welcome!</header>
    <a href="http://127.0.0.1:5000/ingredient-maker">
      <button class="NavigationButton">ingredient-maker</button>
    </a>
    <a href="http://127.0.0.1:5000/create-meal">
      <button class="NavigationButton">create-meal</button>
    </a>
    <form
      action="/ingredient-maker"
      method="get"
      target="_self"
      autocomplete="off"
    >
      <br />
      <button name="hello" class="NavigationButton">New ingredient? Click me!</button>
    </form>
    <form
      action="/delete-ingredients"
      method="post"
      target="_self"
      autocomplete="off"
    >
      <br />
      <button name="delete" class="NavigationButton">
        click to delete all meals
      </button>
    </form>
  </body>
</html>
