<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />

    <title>Meal Maker</title>
  </head>

  <body>
    <header class="heading">Meal maker</header>
    <a href="http://127.0.0.1:5000/">
      <button class="NavigationButton">Home</button>
    </a>
    <!-- prettier-ignore -->
    <form action="/submitMakeMeal" method="post" >
      <br /><label class="name">Meal name:</label>
      <br /><input name="meal-name" />
      <br /><label class="macros">calories:</label>
      <br /><input name="calories" />
      <br /><label class="macros">protein:</label>
      <br /><input name="protein" />
      <br /><label class="macros">carbs:</label>
      <br /><input name="carbs" />
      <br /><label class="macros">fats:</label>
      <br /><input name="fats" />
      <br /><input type="submit" value="Submit"/>
    </form>
  </body>
</html>
